$default_blue : rgb(38, 124, 181);
$grey_text : #87888a;
$light-grey: rgb(215,225,232);

* {
  font-family: "Varela Round";
}

html, body {
  height: 100%;
  padding: 10px;
}

#flack-title {
  font-size: 21px;
}

#profile:hover{
  cursor: default;
}

#display-name-show {
  color: $default_blue;
  font-weight: 600;
}

#logout {
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
}

#logout:hover {
  cursor: pointer;
  color: #0056b3;
  text-decoration: underline;
}

#add-btn {
  padding: 0;
  padding-left: 5px;
}

#add-btn:focus {
  outline: white solid 0px;
  box-shadow: none;
}

#content {
  height: -moz-calc(100% - 70px); /* Firefox */
  height: -webkit-calc(100% - 72px); /* Chrome, Safari */
  height: calc(100% - 72px); /* IE9+ and future browsers */
}

#left-nav {
  height: 100%;
}

#channels {
  color:$grey_text;
  font-size: 18px;
}

#channel-view{
  margin: 15px 0px;
}

@keyframes border-radius {
  from {border-radius: 50%;}
  to {border-radius:10%;}
}


#channel-image {
  border-radius: 50%;
  margin-right: 8px;
  transition: 1s;
}

#channel-image:hover {
  border-radius:10%;
  cursor: pointer;
}

#channel-text {
  color: $grey_text;
}

#channel-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

#channel-image-modal {
  border-radius: 50%;
  margin-right: 8px;
  transition: 1s;
}

#channel-image-modal:hover {
  border-radius:10%;
  cursor: pointer;
}

#channel-text-modal {
  color: $grey_text;
}

#channel-text-modal:hover {
  text-decoration: underline;
  cursor: pointer;
}

#channel-top {
  color: $default_blue;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 400;
}

#channel-top:hover {
  cursor: default;
}

#channel-btn {
  color: white;
  border: 1px solid $default_blue;
  border-radius: 50%;
  padding: 2px 15px;
  border-radius: 15px;
  background-color: $default_blue;
}

#channel-btn:hover {
  background-color: rgb(34, 120, 177);
  border-color: rgb(30, 116, 173);
}

#message-box {
  padding: 0;
  height: 100%;
  border: 1px solid $light-grey;
  border-radius: 5px;
}

#message-top {
  height: 50px;
  border-bottom: 1px solid $light-grey;
}

#messages {
  height: 90%;
}

#show-messages {
  height: 90%;
  overflow: auto;
}

@keyframes delete {
  0% {
    opacity: 1;
    height: 62px;
  }
  75% {
    opacity: 0;
    height: 62px;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

.both-message {
  height: 62px;
  animation-name: delete;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.else-message {
  background-color: $default_blue;
  color: white;
  margin-left: 10px;
  padding: 7px 15px;
  border-radius: 15px;
}

.my-message {
  position: absolute;
  right: 0;
  color: $default_blue;
  margin-right: 10px;
  padding: 7px 15px;
  border: 1px solid $default_blue;
  border-radius: 15px;
}

.else-message > .message-sender {
  font-size: 12px;
  padding-right: 3px;
}

.else-message > .message-date {
  float: right;
  font-size: 12px;
  margin-top: 4px;
}

.my-message > .message-sender {
  font-size: 12px;
  color: $grey_text;
  padding-right: 5px;
}

.my-message > .message-date {
  float: right;
  font-size: 12px;
  color: $grey_text;
  margin-top: 4px;
}

.delete-image {
  float: right;
  margin-left: 10px;
}

.delete-image:hover {
  cursor: pointer;
}

#sending-messages {
  position: absolute;
  bottom: 10px;
}

#send-btn {
  padding: 0;
}
